@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.pull-right {
  float: right;
}
.helpBlock {
  color: #999;
  font-weight: normal;
  margin-left: 1rem;
}
@media screen and (max-width: 640px) {
  .helpBlock {
    display: block;
    margin-left: 0;
  }
}
.alert-error {
  background-color: #fdc3bc;
  margin-bottom: 1.5rem;
  padding: 1rem;
}
.hidden {
  display: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: #444;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.wrapper {
  margin: 0 1rem;
}
@media screen and (min-width: 641px) {
  .wrapper {
    margin: 0 auto;
    max-width: 1280px;
  }
}
.header {
  background-color: #d12b26;
}
.header .wrapper {
  margin: 0;
  max-width: none;
}
.header .header-image {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1100px;
}
@media all and (max-width: 480px) {
  .header .wrapper {
    overflow-x: hidden;
    margin: 0;
  }
  .header .inner iframe {
    width: 100%;
    padding: 0px;
  }
}
.main {
  background: url('../images/landing-page/main-bg.jpg') no-repeat center center;
  background-size: cover;
  min-height: 820px;
}
.main .wrapper:before,
.main .wrapper:after {
  content: '';
  display: table;
}
.main .wrapper:after {
  clear: both;
}
.main:before,
.main:after {
  content: '';
  display: table;
}
.main:after {
  clear: both;
}
.inner {
  padding-top: 60px;
}
.leftSection .leftSection-image {
  max-width: 100%;
}
.leftSection .leftSection-video iframe {
  max-width: 100%;
}
@media all and (min-width: 641px) {
  .leftSection {
    float: left;
    text-align: right;
    width: 50%;
  }
  .leftSection .inner {
    padding-right: 3%;
    padding-top: 65px;
  }
  .rightSection {
    float: right;
    width: 50%;
  }
  .rightSection .inner {
    padding-left: 3%;
    padding-right: 20%;
  }
}
.subscription {
  color: white;
  transition: opacity 0.5s ease;
}
.subscription-successful > div,
.subscription-successful .subscription-selectLabel {
  opacity: 0.5;
  pointer-events: none;
  z-index: -1;
}
.subscription-successful .subscription-successfulButton {
  background-color: green;
}
.subscription-successful .subscription-successfulButton:hover {
  background-color: green;
}
.subscription-title {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.subscription-label {
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 12pt;
}
.subscription-label .error {
  color: salmon;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.subscription-textbox,
.subscription-textbox-small,
.subscription-select,
.subscription-fileLabel {
  font-size: 1rem;
  margin-top: 8px;
  padding: 1rem;
}
.subscription-textbox.error,
.subscription-textbox-small.error,
.subscription-select.error,
.subscription-fileLabel.error {
  background-color: salmon;
  color: #444;
}
.subscription-label,
.subscription-textbox,
.subscription-textbox-small,
.subscription-select,
.subscription-fileLabel,
.subscription-fileInput {
  display: block;
}
.subscription-textbox,
.subscription-submitButton,
.subscription-select {
  border: none;
  border-radius: 0;
  width: 100%;
}
.subscription-textbox-small {
  border: none;
  border-radius: 0;
  width: 25%;
}
.subscription-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 3rem;
  background-color: #fff;
  background-image: url('../images/ic_arrow_drop_down_black_24px.svg');
  background-position: calc(98%) calc(0.7em);
  background-size: 32px;
  background-repeat: no-repeat;
}
.subscription-select:focus {
  background-image: url('../images/ic_arrow_drop_up_black_24px.svg');
}
.subscription-select option {
  color: #444;
}
.subscription-fileLabel {
  background-color: #fff;
  color: black;
  font-weight: normal;
  text-align: center;
}
.subscription-fileInput,
.subscription-fileInput.error,
.subscription-englishLevel,
.subscription-englishLevel.error {
  height: 0;
  margin: 0;
  visibility: hidden;
}
.subscription-fileInput + .error,
.subscription-fileInput.error + .error,
.subscription-englishLevel + .error,
.subscription-englishLevel.error + .error {
  display: block;
}
.subscription-restOfForm,
.subscription-cvLabel {
  display: none;
}
.subscription-restOfForm.forProfessional .subscription-cvLabel {
  display: block;
}
.subscription-agree {
  color: #cf2e2d;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 30px;
}
.subscription-agree a {
  color: inherit;
  text-decoration: none;
}
.subscription-agree.error .subscription-agreeText {
  color: salmon;
}
.subscription-checkbox,
.subscription-checkbox.error {
  margin: 0 0.5rem 0 0;
}
.subscription-submitButton {
  background-color: #cf2e2d;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.subscription-submitButton:hover {
  background-color: #a52524;
}
.modal {
  margin-bottom: 3rem;
  margin-top: 2rem;
  max-width: 800px;
}
.jquery-modal.blocker {
  z-index: 10;
}
.termsAndConditions h2,
.termsAndConditions p,
.termsAndConditions li {
  margin-bottom: 1rem;
}
.termsAndConditions ul {
  padding: 0 0 0 1rem;
}
.termsAndConditions .termsAndConditions-acceptButton {
  background-color: #cf2e2d;
  color: #cf2e2d;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.termsAndConditions .termsAndConditions-acceptButton:hover {
  background-color: #a52524;
}
.footer {
  color: #ccc;
  margin: 100px 0;
  text-align: center;
}
.footer a {
  color: #ccc;
  text-decoration: none;
}
iframe[name="google_conversion_frame"] {
  display: none;
}
.subscription-slider {
  margin-top: 8px;
}
@media (min-width: 360px) and (max-width: 479px) {
  .subscription-slider {
    margin-top: 30px;
  }
}
@media (max-width: 359px) {
  .subscription-slider {
    margin-top: 45px;
  }
}
.ui-slider-pips .ui-slider-pip {
  color: #636262;
}
.ui-slider-pips [class*=ui-slider-pip-selected] {
  font-weight: bold;
  color: white;
}
.ui-slider-pip-100 span {
  font-weight: bold;
  color: white;
}
.ui-slider-pip-selected span {
  font-weight: bold;
  color: #cf2e2d;
}
.ui-slider-pip-0 span {
  font-weight: bold;
  color: white;
}
.ui-slider-horizontal.ui-slider-pips {
  margin-bottom: 0px;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #cf2e2d;
  background: #cf2e2d url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #cf2e2d;
}
.ui-slider-pips:not(.ui-slider-disabled) .ui-slider-pip:hover .ui-slider-label {
  color: white;
}

/*# sourceMappingURL=landing-page.css.map */
