@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.pull-right {
  float: right;
}
.helpBlock {
  color: #999;
  font-weight: normal;
  margin-left: 1rem;
}
@media screen and (max-width: 640px) {
  .helpBlock {
    display: block;
    margin-left: 0;
  }
}
.alert-error {
  background-color: #fdc3bc;
  margin-bottom: 1.5rem;
  padding: 1rem;
}
.hidden {
  display: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fafafa;
  color: #444;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #0f6ac9;
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover {
  color: #0f6ac9;
}
.wrapper {
  margin: 0 1rem;
}
@media screen and (min-width: 973px) {
  .wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.subscription-textbox,
.subscription-select,
.subscription-fileLabel,
.modal-textarea {
  font-size: 1rem;
  margin-top: 8px;
  padding: 1rem;
}
.subscription-textbox.error,
.subscription-select.error,
.subscription-fileLabel.error,
.modal-textarea.error {
  background-color: salmon;
  color: #444;
}
.subscription-textbox,
.subscription-submitButton,
.subscription-select,
.modal-button {
  border: none;
}
.header {
  background-color: #fff;
  border-bottom: 2px solid #DDE4ED;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.header-logo {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.header-logoutLink {
  margin-top: 1rem;
}
.stage {
  height: 190px;
}
.stage:after,
.stage:before {
  content: '';
  display: table;
}
.stage:after {
  clear: both;
}
.parallax-mirror {
  background-color: #093446;
}
.title {
  color: white;
  font-weight: normal;
}
@media screen and (min-width: 481px) {
  .login .wrapper {
    margin: 0 auto;
    max-width: 460px;
  }
}
.login .title,
.login .subtitle {
  color: #444;
}
.title {
  margin-top: 4rem;
}
.subtitle {
  color: white;
  font-size: 1.125rem;
  margin-bottom: 4rem;
}
.form-label,
.form-textbox {
  display: block;
}
.form-textbox.expanded,
.form-submitButton.expanded {
  width: 100%;
}
.form-label {
  font-weight: bold;
  margin-bottom: 20px;
}
.form-label .error {
  color: salmon;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.form-textbox {
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 8px;
  padding: 0.875rem 1rem;
}
.form-submitButton,
.tableBar-exportButton,
.tableBar-downloadAllButton,
.modal-button {
  background-color: #0f6ac9;
  border: none;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 0.875rem 1.5rem;
  transition: all 0.3s ease;
}
.form-submitButton:hover,
.tableBar-exportButton:hover,
.tableBar-downloadAllButton,
.modal-button:hover {
  background-color: #0b519a;
  color: #fff;
}
.form-submitButton:disabled,
.tableBar-exportButton:disabled,
.modal-button:disabled {
  background: #9DADBF;
  pointer-events: none;
}
.tableBar-exportButton {
  background-color: #0C6;
  margin-bottom: 0;
}
.tableBar-exportButton:hover {
  background-color: #00994d;
}
.tableBar-exportButton[disabled] {
  background-color: grey;
  opacity: 0.5;
}
.form-rememberCheckbox {
  margin-right: 0.5rem;
}
.tableBar {
  margin-bottom: 1rem;
  padding-bottom: 10px;
  padding-top: 10px;
}
.tableBar:not(.tableBar-bottom) {
  border-bottom: 1px solid #DDE4ED;
  border-top: 1px solid #DDE4ED;
}
.tableBar-left {
  color: #9DADBF;
}
.tableBar:before,
.tableBar:after {
  content: ' ';
  display: table;
}
.tableBar:after {
  clear: both;
}
@media screen and (min-width: 481px) {
  .tableBar-left {
    float: left;
    width: 40%;
  }
  .tableBar-right {
    float: right;
    text-align: right;
    width: 60%;
  }
  .tableBar-top .tableBar-left {
    width: 60%;
    margin-left: -10px;
  }
  .tableBar-top .tableBar-right {
    width: 40%;
  }
  .tableBar-select {
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 767px) {
  .tableBar-top .tableBar-left {
    margin-bottom: 10px;
  }
}
.tableBar-select {
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.875rem 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 3rem;
  background-image: url('../images/ic_arrow_drop_down_black_24px.svg');
  background-position: calc(98%) calc(0.7em);
  background-size: 32px;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.tableBar-select:focus {
  background-image: url('../images/ic_arrow_drop_up_black_24px.svg');
}
.tableBar-select option {
  color: #444;
}
.tableBar-top .tableBar-select option:first-child {
  color: #9DADBF;
}
.tableBar-bottom .tableBar-left {
  margin-top: 0px;
}
.table {
  background-color: #fff;
  border-collapse: collapse;
  margin-bottom: 1rem;
  width: 100%;
}
.table th {
  border-bottom: 2px solid #DDE4ED;
}
.table th,
.table td {
  padding: 1rem;
}
.table thead th,
.table thead td {
  text-align: left;
}
.table thead th:not(:first-child)[class*='sort'],
.table thead td:not(:first-child)[class*='sort'] {
  cursor: pointer;
}
.table thead th .fa,
.table thead td .fa {
  color: #999;
  margin-right: 0.5rem;
}
.table thead th.sorting_asc .fa,
.table thead td.sorting_asc .fa,
.table thead th.sorting_desc .fa,
.table thead td.sorting_desc .fa {
  color: #666;
}
.table thead .table-title-applicant {
  text-align: center;
}
.table tbody tr:not(:last-child) th,
.table tbody tr:not(:last-child) td {
  border-bottom: 1px solid #DDE4ED;
}
@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .table tbody,
  .table thead {
    float: left;
  }
  .table thead {
    width: 30%;
  }
  .table thead .table-title-applicant {
    text-align: left;
  }
  .table tbody {
    width: 70%;
  }
  .table td,
  .table th {
    display: inline-block;
    padding: 0.5rem;
    width: 100% !important;
  }
}
.pagination {
  color: #9DADBF;
  padding: 0;
}
.pagination .pagination-item {
  display: inline-block;
  list-style: none;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.pagination .pagination-item:last-child {
  margin-right: 0;
}
.pagination .pagination-item.active .pagination-button {
  border-color: #0f6ac9;
  color: #0f6ac9;
}
.pagination .pagination-item.active .pagination-button:hover {
  border-color: #0b519a;
  color: #0b519a;
}
.pagination .pagination-button {
  background-color: transparent;
  border: 1px solid #9DADBF;
  border-radius: 4px;
  color: #9DADBF;
  display: block;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
.pagination .pagination-button:hover {
  border-color: #0f6ac9;
  color: #0f6ac9;
}
.pagination .pagination-disabledButton {
  border-color: #DDE4ED;
  border-radius: 4px;
  color: #9DADBF;
  pointer-events: none;
}
.switch {
  background-color: #aaa;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  margin: auto;
  position: relative;
  text-indent: 60%;
  transition: all 0.2s ease-out;
  width: 60px;
}
.switch span {
  color: #ffffff;
  display: block;
  font-size: 14px;
  line-height: 1.6;
  text-transform: capitalize;
  z-index: -1;
}
.switch input[type="checkbox"] {
  display: none;
}
.switch:before {
  background: #fff;
  content: '';
  cursor: pointer;
  height: 20px;
  left: 2px;
  position: absolute;
  top: 2px;
  transition: all 0.2s ease-out;
  width: 28px;
}
.switch.active {
  background: #0C6;
}
.switch.active span {
  text-indent: 15%;
}
.switch.active:before {
  left: 30px;
}
@media screen and (max-width: 767px) {
  .switch {
    margin: 0;
  }
}
.footer {
  color: #9DADBF;
  margin: 100px 0 50px;
  text-align: center;
}
.footer a {
  color: #9DADBF;
  text-decoration: none;
}
.modal {
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}
.modal-header {
  border-bottom: 2px solid #DDE4ED;
}
.modal-footer {
  border-top: 1px solid #DDE4ED;
  padding-bottom: 10px;
  padding-top: 10px;
}
.modal-footer:before,
.modal-footer:after {
  content: '';
  display: table;
}
.modal-footer:after {
  clear: both;
}
.modal-title {
  font-weight: normal;
  padding: 1rem;
}
.modal-textarea {
  display: block;
  width: 100%;
}
.modal-textarea {
  border: 0;
  font-family: 'Lato', sans-serif;
  margin: 0;
  max-width: 100%;
}
.comment-link {
  margin-left: 0.5rem;
}
.modal a.close-modal {
  display: none;
}
.modal-button-close {
  background-color: transparent;
  border: 1px solid #0f6ac9;
  border-radius: 4px;
  color: #0f6ac9;
  display: block;
  font-size: 1rem;
  padding: 0.875rem 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
.modal-button-close:hover {
  border-color: #0b519a;
  color: #0b519a;
}
.modal-button-close,
.modal-button {
  float: right;
  margin-bottom: 0;
  margin-right: 10px;
}
.blocker {
  background-color: rgba(0, 102, 204, 0.1);
}
.has-tip {
  position: relative;
  display: inline-block;
  border-bottom: dotted 1px #8a8a8a;
  font-weight: bold;
  cursor: help;
}
#date-tooltip #tooltip-text {
  visibility: hidden;
  width: 390px;
  background-color: #444444;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  transition: opacity .6s;
}
#date-tooltip:hover #tooltip-text {
  visibility: visible;
  top: 135%;
}
.dataTables_length {
  display: none;
}
.dataTables_info,
.dataTables_paginate {
  display: inline;
}
.paginate-goToPage,
.dataTables_paginate {
  color: #9DADBF;
}
.paginate-goToPage {
  margin-right: 0.25rem;
}
.dataTables_paginate {
  padding: 0;
}
.dataTables_paginate .paginate_button {
  display: inline-block;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.dataTables_paginate .paginate_button:last-child {
  margin-right: 0;
}
.dataTables_paginate .paginate_button.current {
  border-color: #0f6ac9;
  color: #0f6ac9;
  margin-right: 0.25rem;
}
.dataTables_paginate .paginate_button.current:hover {
  border-color: #0b519a;
  color: #0b519a;
}
.dataTables_paginate .paginate_button {
  background-color: transparent;
  border: 1px solid #9DADBF;
  border-radius: 4px;
  color: #9DADBF;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
.dataTables_paginate .paginate_button:hover {
  border-color: #0f6ac9;
  color: #0f6ac9;
}
.dataTables_paginate .paginate_button:not(.current):not(.next):not(.last)[data-dt-idx='3'],
.dataTables_paginate .paginate_button:not(.current):not(.next):not(.last)[data-dt-idx='4'],
.dataTables_paginate .paginate_button:not(.current):not(.next):not(.last)[data-dt-idx='5'],
.dataTables_paginate .paginate_button:not(.current):not(.next):not(.last)[data-dt-idx='6'] {
  display: none;
}
.dataTables_paginate .ellipsis:last-of-type {
  display: none;
}
.dataTables_paginate .paginate_button.disabled {
  border-color: #DDE4ED;
  border-radius: 4px;
  color: #9DADBF;
  pointer-events: none;
}

/*# sourceMappingURL=master.css.map */
