.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.pull-right {
	float: right;
}

.helpBlock {
	color: #999;
	font-weight: normal;
	margin-left: 1rem;
}

@media screen and (max-width: 640px) {
	.helpBlock {
		display: block;
		margin-left: 0;
	}
}

.alert-error {
	background-color: lighten(Salmon, 15%);
	margin-bottom: 1.5rem;
	padding: 1rem;
}

.hidden {
	display: none;
}
