@import 'variables';
@import 'helpers';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	color: @text-color;
	font-family: @base-font-family;
	font-size: 16px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	margin: 0 1rem;
}

@media screen and (min-width: 641px) {
	.wrapper {
		margin: 0 auto;
		max-width: 1280px;
	}
}

.header {
	background-color: #d12b26;
    //background: url('../images/landing-page/header-1px.png') repeat-x center center;
	//border-bottom: 10px solid @red-color;

	.wrapper {
		// max-height: 490px;
		//max-width: 1280px;
        margin: 0;
        max-width: none;
	}

	.header-image {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 1100px;
	}

	@media all and (max-width: 480px) {
		.wrapper {
			overflow-x: hidden;
			margin: 0;
		}
		.inner iframe{
		width: 100%;
		padding: 0px;
		}

		// .header-image {
		// 	margin-left: -15%;
		// 	max-width: 130%;
		// }
	}
}

//.header-facilities {
//  background-color: #fff;
//  border-bottom: 10px solid #14A9E3;
//
//  .wrapper {
//    // max-height: 490px;
//    max-width: 1280px;
//  }
//
//  .header-image {
//    display: block;
//    max-width: 100%;
//  }
//
//  @media all and (max-width: 480px) {
//    .wrapper {
//      overflow-x: hidden;
//      margin: 0;
//    }
//
//    // .header-image {
//    // 	margin-left: -15%;
//    // 	max-width: 130%;
//    // }
//  }
//}

.main {
	background: url('../images/landing-page/main-bg.jpg') no-repeat center center;
	background-size: cover;
	min-height: 820px;

	.wrapper:before,
	.wrapper:after {
		content: '';
		display: table;
	}

	.wrapper:after {
		clear: both;
	}
}

.main:before,
.main:after {
	content: '';
	display: table;
}

.main:after {
	clear: both;
}

//.main-facilities {
//  background: url('../images/landing-page/main-bg-facilities-and-maintenance-manager.jpg') no-repeat center center;
//  background-size: cover;
//  min-height: 820px;
//
//  .wrapper:before,
//  .wrapper:after {
//    content: '';
//    display: table;
//  }
//
//  .wrapper:after {
//    clear: both;
//  }
//}
//
//.main-facilities:before,
//.main-facilities:after {
//  content: '';
//  display: table;
//}
//
//.main-facilities:after {
//  clear: both;
//}

.inner {
	padding-top: 60px;
}

.leftSection {
	.leftSection-image {
		max-width: 100%;
	}
	.leftSection-video iframe{
		max-width: 100%;
	}
	

}

.rightSection {
}

@media all and (min-width: 641px) {
	.leftSection {
		float: left;
		text-align: right;
		width: 50%;

		.inner {
			padding-right: 3%;
			padding-top: 65px;
		}

	}

	.rightSection {
		float: right;
		width: 50%;

		.inner {
			padding-left: 3%;
			padding-right: 20%;
		}
	}
}

.subscription {
	color: white;
	transition: opacity 0.5s ease;
}

.subscription-successful {
	> div,
	.subscription-selectLabel {
		opacity: 0.5;
		pointer-events: none;
		z-index: -1;
	}

	.subscription-successfulButton {
		background-color: green;

		&:hover {
			background-color: green;
		}
	}
}

.subscription-title {
	font-size: 1.4rem;
	font-weight: normal;
	margin-bottom: 30px;
    text-transform: uppercase;
}

.subscription-label {
	font-weight: normal;
	margin-bottom: 20px;
    font-size: 12pt;

	.error {
		color: @error-color;
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
	}
}

.subscription-textbox,
.subscription-textbox-small,
.subscription-select,
.subscription-fileLabel {
	font-size: 1rem;
	margin-top: 8px;
	padding: 1rem;

	&.error {
		background-color: @error-color;
		color: @text-color;
	}
}

.subscription-label,
.subscription-textbox,
.subscription-textbox-small,
.subscription-select,
.subscription-fileLabel,
.subscription-fileInput {
	display: block;
}

.subscription-textbox,
.subscription-submitButton,
.subscription-select {
	border: none;
	border-radius: 0;
	width: 100%;
}

.subscription-textbox-small {
  border: none;
  border-radius: 0;
  width: 25%;
}

.subscription-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-right: 3rem;

	background-color: #fff;
	background-image: url('../images/ic_arrow_drop_down_black_24px.svg');
	background-position: calc(100% - 2px) calc(0.7em);
	background-size: 32px;
	background-repeat: no-repeat;

	&:focus {
		background-image: url('../images/ic_arrow_drop_up_black_24px.svg');
	}

	option {
		color: @text-color;

		// &:first-child {
		// 	color: #999;
		// }
	}
}

.subscription-fileLabel {
	background-color: #fff;
	color: black;
	font-weight: normal;
	text-align: center;
}

.subscription-fileInput,
.subscription-fileInput.error,
.subscription-englishLevel,
.subscription-englishLevel.error {
	height: 0;
	margin: 0;
	visibility: hidden;

	& + .error {
		display: block;
	}
}

.subscription-restOfForm,
.subscription-cvLabel {
	display: none;
}

.subscription-restOfForm {
	&.forProfessional {
		.subscription-cvLabel {
			display: block;
		}
	}
}

.subscription-agree {
	color: @red-color;
	font-weight: normal;
	margin-bottom: 30px;
	margin-top: 30px;

	a {
		color: inherit;
		text-decoration: none;
	}

	&.error {
		.subscription-agreeText {
			color: @error-color;
		}
	}
}

.subscription-checkbox,
.subscription-checkbox.error {
	margin: 0 0.5rem 0 0;
}

.subscription-submitButton {
	background-color: @red-color;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 1rem 1.5rem;
	text-transform: uppercase;
	transition: all 0.3s ease;

	&:hover {
		background-color: darken(@red-color, 10%);
	}
}

.modal {
	margin-bottom: 3rem;
	margin-top: 2rem;
	max-width: 800px;
}

.jquery-modal.blocker {
	z-index: 10;
}

.termsAndConditions {
	h2,
	p,
	li {
		margin-bottom: 1rem;
	}

	ul {
		padding: 0 0 0 1rem;
	}

	.termsAndConditions-acceptButton {
		background-color: @red-color;
		color: @red-color;
		display: inline-block;
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 1rem 1.5rem;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.3s ease;

		&:hover {
			background-color: darken(@red-color, 10%);
		}
	}
}

.footer {
	color: #ccc;
	margin: 100px 0;
	text-align: center;

	a {
		color: #ccc;
		text-decoration: none;
	}
}

iframe[name="google_conversion_frame"] {
	display: none;
}

.subscription-slider {
  margin-top: 8px;
}

@media (min-width: 360px) and (max-width: 479px) {
	.subscription-slider {
		margin-top: 30px;
	}
}

@media (max-width: 359px) {
	.subscription-slider {
		margin-top: 45px;
	}
}

.ui-slider-pips .ui-slider-pip {
  color: #636262;
}
.ui-slider-pips [class*=ui-slider-pip-selected] {
  font-weight: bold;
  color: white;
}
.ui-slider-pip-100 span{
  font-weight: bold;
  color: white;
}

.ui-slider-pip-selected span{
    font-weight: bold;
    color: @red-color;
}

.ui-slider-pip-0 span{
  font-weight: bold;
  color: white;
}
.ui-slider-horizontal.ui-slider-pips {
  margin-bottom: 0px;
}
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
  border: 1px solid @red-color;
  background: @red-color url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
  font-weight: bold;
  color: @red-color;
}

.ui-slider-pips:not(.ui-slider-disabled) .ui-slider-pip {
  &:hover {
  	.ui-slider-label {
  		color: white;
  	}
  }
}
