@import 'variables';
@import 'helpers';

@amber-color: #FF9F00;
@blue-color: #0f6ac9;
@green-color: #0C6;
@red-color: #d21d24;
@yellow-color: #f2b53f;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fafafa;
	color: @text-color;
	font-family: @base-font-family;
	font-size: 16px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

a {
	color: @blue-color;
	text-decoration: none;
	transition: all 0.3s ease;

	&:hover {
		color: @blue-color;
	}
}

.wrapper {
	margin: 0 1rem;
}

@media screen and (min-width: 973px) {
	.wrapper {
		margin: 0 auto;
		// max-width: 940px;
		max-width: 1280px;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}



.subscription-textbox,
.subscription-select,
.subscription-fileLabel,
.modal-textarea {
	font-size: 1rem;
	margin-top: 8px;
	padding: 1rem;

	&.error {
		background-color: salmon;
		color: @text-color;
	}
}



.subscription-textbox,
.subscription-submitButton,
.subscription-select,
.modal-button {
	border: none;
}

.header {
	background-color: #fff;
	border-bottom: 2px solid #DDE4ED;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}

.header-logo {
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}

.header-logoutLink {
	margin-top: 1rem;
}


.stage {
	// background-color: #093446;
	// background-image: url('/images/landing-page/main-bg.jpg');
	// background-position: center center;
	// background-size: cover;
	// background-attachment: fixed;
	height: 190px;
}

.stage:after,
.stage:before {
	content: '';
	display: table;
}

.stage:after {
	clear: both;
}

.parallax-mirror {
	background-color: #093446;
}


.title {
	color: white;
	font-weight: normal;
}

.login {
	@media screen and (min-width: 481px) {
		.wrapper {
			margin: 0 auto;
			max-width: 460px;
		}
	}

	.title,
	.subtitle {
		color: @text-color;
	}
}
.title {
	margin-top: 4rem;
}



.subtitle {
	color: white;
	font-size: 1.125rem;
	margin-bottom: 4rem;
}

.form-label,
.form-textbox {
	display: block;
}

.form-textbox,
.form-submitButton {
	&.expanded {
		width: 100%;
	}
}

.form-label {
	font-weight: bold;
	margin-bottom: 20px;

	.error {
		color: salmon;
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
	}
}

.form-textbox {
	border: 1px solid @input-border-color;
	border-radius: @base-border-radius;
	font-size: 1rem;
	margin-top: 8px;
	padding: 0.875rem 1rem;
}

.form-submitButton,
.tableBar-exportButton,
.modal-button {
	background-color: @blue-color;
	border: none;
	border-radius: @base-border-radius;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	// letter-spacing: 1px;
	margin-bottom: 1rem;
	padding: 0.875rem 1.5rem;
	// text-transform: uppercase;
	transition: all 0.3s ease;

	&:hover {
		background-color: darken(@blue-color, 10%);
		color: #fff;
	}
	&:disabled {
		//border-color: @border-color;
		//border-radius: @base-border-radius;
		background: #9DADBF;
		pointer-events: none;
	}
}

.tableBar-exportButton {
	background-color: @green-color;
	margin-bottom: 0;

	&:hover {
		background-color: darken(@green-color, 10%);
	}

	&[disabled] {
		background-color: grey;
		opacity: 0.5;
	}
}

.form-rememberCheckbox {
	margin-right: 0.5rem;
}

.tableBar {
	margin-bottom: 1rem;

	padding-bottom: 10px;
	padding-top: 10px;

	&:not(.tableBar-bottom) {
		border-bottom: 1px solid @border-color;
		border-top: 1px solid @border-color;
	}
}

.tableBar-left {
	color: #9DADBF;
}

.tableBar-right {
}

.tableBar:before,
.tableBar:after {
	content: ' ';
	display: table;
}

.tableBar:after {
	clear: both;
}

@media screen and (min-width: 481px) {
	.tableBar-left {
		float: left;
		// margin-top: 1rem;
		width: 40%;
	}

	.tableBar-right {
		float: right;
		text-align: right;
		width: 60%;
	}

	.tableBar-top {
		.tableBar-left {
			width: 60%;
            margin-left: -10px;
		}

		.tableBar-right {
			width: 40%;
		}
	}

	.tableBar-select {
		margin-left: 0.5rem;
	}
}

@media screen and (max-width: 767px) {
	.tableBar-top {
		.tableBar-left {
			margin-bottom: 10px;
		}
	}
}

.tableBar-select {
	border: 1px solid @input-border-color;
	border-radius: @base-border-radius;
	font-size: 1rem;
	padding: 0.875rem 1rem;

	-webkit-appearance: none;
	-moz-appearance: none;
	padding-right: 3rem;

	background-image: url('../images/ic_arrow_drop_down_black_24px.svg');
	background-position: calc(100% - 2px) calc(0.7em);
	background-size: 32px;
	background-repeat: no-repeat;
    margin-right: 10px;

	&:focus {
		background-image: url('../images/ic_arrow_drop_up_black_24px.svg');
	}

	option {
		color: @text-color;

		// &:first-child {
		// 	color: #9DADBF;
		// }
	}
}

.tableBar-top {
	.tableBar-select {
		option {
			&:first-child {
				color: #9DADBF;
			}
		}
	}
}

.tableBar-bottom {
	.tableBar-left {
		margin-top: 0px;
	}
}

.table {
	background-color: #fff;
	border-collapse: collapse;
	margin-bottom: 1rem;
	width: 100%;

	th {
		border-bottom: 2px solid @border-color;
		// text-transform: uppercase;
	}

	th,
	td {
		padding: 1rem;
	}

	thead {
		th,
		td {
			text-align: left;

			&:not(:first-child) {
				&[class*='sort'] {
					cursor: pointer;
				}
			}

			.fa {
				color: #999;
				// display: none;
				// float: right;
				margin-right: 0.5rem;
			}

			&.sorting_asc,
			&.sorting_desc {
				.fa {
					color: #666;
				}
			}
		}

		.table-title-applicant {
			text-align: center;
		}
	}

	tbody {
		tr {
			// &:nth-child(even) {
			// 	th,
			// 	td {
			// 		background-color: #eee;
			// 	}
			// }

			&:not(:last-child) {
				th,
				td {
					border-bottom: 1px solid @border-color;
				}
			}
		}
	}
}



@media screen and (max-width: 767px) {
	body {
		overflow-x: hidden;
	}

	.table {
		tbody,
		thead {
			float: left;
		}

		thead {
			width: 30%;

			.table-title-applicant {
				text-align: left;
			}
		}

		tbody {
			width: 70%;
		}

		td,
		th {
			display: inline-block;
			padding: 0.5rem;
			width: 100% !important;
		}
	}
}


.pagination {
	color: #9DADBF;
	padding: 0;

	.pagination-item {
		display: inline-block;
		list-style: none;
		margin-left: 0.25rem;
		margin-right: 0.25rem;

		&:last-child {
			margin-right: 0;
		}

		&.active {
			.pagination-button {
				border-color: @blue-color;
				color: @blue-color;

				&:hover {
					border-color: darken(@blue-color, 10%);
					color: darken(@blue-color, 10%);
				}
			}
		}
	}

	.pagination-button {
		background-color: transparent;
		border: 1px solid #9DADBF;
		border-radius: @base-border-radius;
		color: #9DADBF;
		display: block;
		font-size: 1rem;
		padding: 1rem 1.5rem;
		text-decoration: none;
		transition: all 0.3s ease;

		&:hover {
			border-color: @blue-color;
			color: @blue-color;
		}
	}

	.pagination-disabledButton {
		border-color: @border-color;
		border-radius: @base-border-radius;
		color: #9DADBF;
		pointer-events: none;
	}
}

.switch {
	background-color: @input-border-color;
	cursor: pointer;
	height: 24px;
	line-height: 24px;
	margin: auto;
	position: relative;
	text-indent: 60%;
	transition: all 0.2s ease-out;
	width: 60px;

	span {
		color: rgba(255, 255, 255, 1);
		display: block;
		font-size: 14px;
		line-height: 1.6;
		text-transform: capitalize;
		// transition: all 0.2s ease-out;
		z-index: -1;
	}

	input[type="checkbox"] {
		// height: 0;
		// margin: 0;
		// visibility: hidden;
		display: none;
	}

	&:before {
		background: #fff;
		content: '';
		cursor: pointer;
		height: 20px;
		left: 2px;
		position: absolute;
		top: 2px;
		transition: all 0.2s ease-out;
		width: 28px;
	}

	&.active {
		background: @green-color;

		span {
			text-indent: 15%;
		}

		&:before {
			left: 30px;
		}
	}
}

@media screen and (max-width: 767px) {
	.switch {
		margin: 0;
	}
}

.footer {
	color: #9DADBF;
	margin: 100px 0 50px;
	text-align: center;

	a {
		color: #9DADBF;
		text-decoration: none;
	}
}

.modal {
	border-radius: 0;
	box-shadow: none;
	padding: 0;
}

.modal-header {
	border-bottom: 2px solid @border-color;
}

.modal-footer {
	border-top: 1px solid @border-color;
	padding-bottom: 10px;
	padding-top: 10px;
}

.modal-footer:before,
.modal-footer:after {
	content: '';
	display: table;
}

.modal-footer:after {
	clear: both;
}

.modal-title {
	font-weight: normal;
	padding: 1rem;
}

.modal-textarea {
	display: block;
	width: 100%;
}

.modal-textarea {
	border: 0;
	font-family: @base-font-family;
	margin: 0;
	max-width: 100%;
}

.comment-link {
	margin-left: 0.5rem;
}

.modal a.close-modal {
	display: none;
}

.modal-button-close {
	background-color: transparent;
	border: 1px solid @blue-color;
	border-radius: @base-border-radius;
	color: @blue-color;
	display: block;
	font-size: 1rem;
	padding: 0.875rem 1.5rem;
	text-decoration: none;
	transition: all 0.3s ease;

	&:hover {
		border-color: darken(@blue-color, 10%);
		color: darken(@blue-color, 10%);
	}
}

.modal-button-close,
.modal-button {
	float: right;
	margin-bottom: 0;
	margin-right: 10px;
}

.blocker {
	background-color: rgba(0, 102, 204, 0.1);
}

.has-tip {
	position: relative;
	display: inline-block;
	border-bottom: dotted 1px #8a8a8a;
	font-weight: bold;
	cursor: help;
}

#date-tooltip #tooltip-text {
	visibility: hidden;
	width: 390px;
	background-color: #444444;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	transition: opacity .6s;
}
#date-tooltip:hover #tooltip-text {
	visibility: visible;
	top: 135%;
}

// DataTables

.dataTables_length {
	display: none;
}

.dataTables_info,
.dataTables_paginate {
	display: inline;
}

.paginate-goToPage,
.dataTables_paginate {
	color: #9DADBF;
}

.paginate-goToPage {
	margin-right: 0.25rem;
}

.dataTables_paginate {
	padding: 0;

	.paginate_button {
		display: inline-block;
		margin-left: 0.25rem;
		margin-right: 0.25rem;

		&:last-child {
			margin-right: 0;
		}

		&.current {
			border-color: @blue-color;
			color: @blue-color;
			margin-right: 0.25rem;

			&:hover {
				border-color: darken(@blue-color, 10%);
				color: darken(@blue-color, 10%);
			}
		}
	}

	.paginate_button {
		background-color: transparent;
		border: 1px solid #9DADBF;
		border-radius: @base-border-radius;
		color: #9DADBF;
		// display: block;
		font-size: 1rem;
		padding: 1rem 1.5rem;
		text-decoration: none;
		transition: all 0.3s ease;

		&:hover {
			border-color: @blue-color;
			color: @blue-color;
		}

		&:not(.current):not(.next):not(.last)[data-dt-idx='3'],
		&:not(.current):not(.next):not(.last)[data-dt-idx='4'],
		&:not(.current):not(.next):not(.last)[data-dt-idx='5'],
		&:not(.current):not(.next):not(.last)[data-dt-idx='6'] {
			display: none;
		}
	}

	.ellipsis:last-of-type {
		display: none;
	}

	.paginate_button.disabled {
		border-color: @border-color;
		border-radius: @base-border-radius;
		color: #9DADBF;
		pointer-events: none;
	}
}
