@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
@base-font-family: 'Lato', sans-serif;

@text-color: #444;

@blue-color: #101e44;
@green-blue-color: #1295bf;
@green-color: #6dd900;
@red-color: #cf2e2d;
@gold-color: #a28757;
@gray-color: #d0d0d0;
@yellow-color: #f7b62b;
@light-blue-color: #00b4ff;

@orange-color: #e45620;
@dark-orange-color: #c54f1c;
@border-color: #DDE4ED;
@error-color: salmon;

@input-border-color: #aaa;
@base-border-radius: 4px;